form {
    box-sizing: border-box;
    padding: 1rem;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 100%);
    border: 4px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr;
}

.main-container {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

.modal-open {
    padding: 0;
    border: none;
    background: none;
}

/* The Close Button */
.modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-close:hover,
.modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.alert-box {
    padding: 20px;
    background-color: #2196F3;
    color: white;
}
  
.alert-closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    opacity: 0.70;
}

.alert-closebtn:hover {
    color: black;
}

.slider {
    width: 100%;
    max-width: 800px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.slide {
    width: 100%;
    max-width: 800px;
    height: 150px;
    position: absolute;
    transition: all 0.5s;
}

.slide img {
    width: 85%;
    height: 100%;
    object-fit: scale-down;
}

.slide-btn {
    position: absolute;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    z-index: 10px;
    cursor: pointer;
    background-color: #fff;
    font-size: 18px;
}
.btn:active {
    transform: scale(1.1);
}
.btn-prev {
    top: 45%;
    left: 2%;
}
.btn-next {
    top: 45%;
    right: 2%;
}