<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JW QR Generator</title>
    <script type="text/javascript" src="{{ url_for('static', filename='font-awesome/js/all.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head><body>
{% block content %}
<div style="position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);">
<form action="{{ url_for("index")}}" method="post" style="text-align: center">
<label for="firstname"><strong>Enter article link</strong></label><br>
<input type="text" id="firstname" name="fname" placeholder="Article link"><br>
<div><button class="btn" id="paste" type="button"><i class="fa fa-paste"></i> Paste</button> <button class="btn" id="clear" type="button"><i class="fa fa-trash"></i> Clear</button> <button type="submit" class="btn"><i class="fa fa-qrcode"></i> Generate</button></div>
<div>
<form/>
{% endblock %}
</body>
<script>
        const paste = document.getElementById('paste');
        paste.addEventListener('click', () => {
            navigator.clipboard.readText().then((clipText) => {
                console.log(clipText);
                document.getElementById('firstname').value = clipText;
            });
        });
        const clearBtn = document.getElementById('clear');
        clearBtn.addEventListener('click', () => {
            document.getElementById('firstname').value = "";
        });
    </script>
</html>