<div id="notesModal" class="modal">
  <div class="modal-content">
    <span id="modalCloseBtn" class="modal-close">&times;</span>
    <p><strong>A QR Generator designed for <a href="https://www.jw.org">JW.ORG</a></strong></p>
    <p><strong>Why?</strong><br><br>
    To ease the process of preparing QR codes for the ministry.
    </p>
    <p><strong>How to use ?</strong>
    <ol>
    <li>Copy the link of an article you wish to generate as a QR template.</li>
    <li>Paste (or click the paste button) to input the link.</li>
    <li>Click on the generate button.</li>
    <li>Give it a few seconds to process and your QR template will be generated.</li>
    </ol>
    </p>
    <p>
        Please contact <a href = "mailto: rimorin@gmail.com">me</a> for feedbacks or support.
    </p>
  </div>
</div>